apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - postgres/configmap.yaml
  - postgres/pvc.yaml
  - postgres/service.yaml
  - postgres/statefulset.yaml
  - postgres/backup-cronjob.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  - frontend/deployment.yaml
  - frontend/service.yaml
  - ingress/ingress-rules.yaml
